* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:  Helvetica, sans-serif0;
    font-size: 20px;
}

body {
    padding: 2em;
}

.container {
    display: flex;
    max-width: 15vw;
    height: 22rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.3em;
}

span {
    border: 1px solid black;
    flex-grow: 0;
    padding: 0.5em;
    text-align: center;
}

